{% extends 'base.html' %}
{% block content %}
<br>
{% if error %}
{{error}}
<br>
<br>
{% endif %}
<div class="container" align="center">
<h1>Sign up Here</h1>
<br>
<br>
<form action="{% url 'Signup' %}" metohd="post" >
{% csrf_token %}
Username:
<br>
<input type="text" name="Username" />
<br>
Email:
<br>
<input type="email" name="Email" />
<br>
Password:
<br>
<input type="password" name="Pass" />
<br>
Confirm Password:
<br>
<input type="password" name="ConfPass" />
<br>
<br>
<input type="submit" class="btn btn-primary" value="Sign Up" />
</form>
</div>

{% endblock %}
